.wrapper {
    background-color: whitesmoke;

}

.auth-card {
    width: 350px;
    margin: auto;

}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 40%;
}

.input {
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.facebook-signup {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.facebook-signup button {
    width: 100%;
    margin-top: 15px;
    border: none;
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 00;
}

.facebook-signup button img {
    width: 25px;
    margin: 0 0 2px 0;
}

.facebook-signup h3 {
    width: 90%;
    margin: auto;
    font-size: 18px;
    color: grey;
}

form {
    margin-top: 30px;
}

.input input {
    width: 100%;
    font-size: 13px;
    padding: 5px 5px;
    border: 1px solid rgb(197, 196, 196);
    background-color: rgb(245, 245, 245);
    outline: none;
    border-radius: 2px;
}

.info-text {
    width: 90%;
    margin: auto;
    font-size: 13px;
    color: grey;
}

.info-text p a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.login-btn {
    margin-top: 10px;
}

.login-btn button {
    border: none;
    width: 90%;
    background-color: #0095f6;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 2px 0;
}

.signup-card {
    width: 350px;
    margin: auto;
    font-size: 15px;
}

.signup-card p a {
    text-decoration: none;
    color: #0095f6;
}

.get-app {
    width: 350px;
    margin: auto;
    margin-top: 10px;
}

.get-app p {
    font-size: 13px;
}

.get-app-link img {
    width: 30%;
}