/* POST STYLING */
.posts {
    width: 100%;
    margin-bottom: 10px;
}

.posts .profile {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.posts .image img {
    border-radius: 50%;
    float: left;
    border: 2px solid rgb(238, 23, 91);
    padding: 2px;
}

.posts .image p {
    margin: 8px 0 0 10px;
    font-weight: bold;
}

.option:hover {
    cursor: pointer;
}

.posts .content .post {
    margin: 0;
    padding: 0;
}

.posts .content .post img {
    width: 100%;
    margin-top: -24px;
}

.posts .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.action span {
    margin-right: 10px;
    font-weight: bold;
}

.action span:hover {
    color: grey;
    cursor: pointer;
}

.action .like .liked {
    color: red;
    margin: 0;
}

.bookmark:hover {
    color: grey;
    cursor: pointer;
}

.likes {
    text-align: left;
    padding: 0 0 00 10px;
    font-weight: bold;
    font-size: 14px;
}

.description {
    text-align: left;
    padding: 0 10px 0 10px;
    font-size: 15px;
}

.time {
    text-align: left;
    padding: 0 10px;
    font-size: 11px;
    color: grey;
    margin: 10px 0;
}

.comment {
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #ccc;
}

.emoji {
    width: 10%;
    float: left;
}

.comment-field input {
    float: left;
    width: 75%;
    padding: 5px 10px;
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.post-btn {
    margin-top: 8px;
}

.comment a {
    width: 15%;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .comment-field input {
        padding: 5px 5px;
    }

    .comment a {
        padding: 5px 5px;
    }
}