.status-main {
    width: 500px;
}

.all-status {
    display: flex;
    overflow-x: scroll;
}

.status {
    margin-right: 10px;
}

.profile-pic img {
    border-radius: 50%;
    width: 60px;
    border: 2px solid rgb(238, 23, 91);
    padding: 2px;
}

.user-name {
    color: grey;
    font-size: 12px;
}

.all-status::-webkit-scrollbar {
    height: 0;
}

.all-status::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.all-status::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}