.content .card {
    width: 350px;
    margin: 0 auto;
}

.content .card h4 {
    font-size: 18px;
    font-weight: bolder;
}

.content .card p {
    font-size: 15px;
    color: grey;
}

form button {
    width: 90%;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #0095f6;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
}

.signup-link {
    margin-bottom: 80px;
}

.signup-link a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.card-footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}