/* MAIN DASHBOARD STYLING */
.top-bar {
    color: white;
    padding: 10px;
}

.top-bar nav {
    display: flex;
    justify-content: space-between;
}

.top-bar nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.heading {
    font-weight: bold;
    margin: 5px 0 0 10px;
}

.notification {
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.content {
    background-color: whitesmoke;
    height: 100vh;
    padding: 20px;
}

.row-one, .row-two {
    display: flex;
}

.row-one .card {
    width: 32.2%;
    margin: 10px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.values {
    font-weight: bold;
}

.row-two .card {
    width: 24%;
    margin: 10px;
}

.charts {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.income-chart {
    width: 60%;
}

.income-chart .card, .user-chart .card {
    min-height: 500px;
}

.income-chart .card-body {
    display: flex;
    justify-content: space-around;
}

.user-chart {
    width: 38%;
}

.chart-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    color: white;
}