/* HOMPAGE STYLING */
.homepage-main {
    background-color: whitesmoke;
    height: 100vh;
    overflow-y: scroll;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.main-content {
    width: 1000px;
    margin: 100px auto 20px auto;
}

.group {
    display: flex;
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .sidecontent {
        display: none;
    }

    .main-content {
        width: 100%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidecontent {
        display: none;
    }

    .main-content {
        width: 100%;
        margin-top: 80px;

    }
}