/* HOMPAGE STYLING */
.homepage-main {
    background-color: whitesmoke;
    height: 100vh;
    overflow-y: scroll;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 99;
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}