/* Login styles */

.main {
    background-color: whitesmoke;
    height: 100vh;
    padding-top: 200px;

}

.wrapper {
    width: 500px;
    height: 40vh;
    padding-top: 50px;
}

.heading {
    font-weight: bold;
    margin-bottom: 20px;
}

.input-field input {
    width: 95%;
    margin: auto;
}

.btn {
    width: 100%;
}